<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- jdbc connection properties -->
		<property name="connection.url">jdbc:mysql://localhost/BankSystem</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- end jdbc connection properties -->

		<!-- hibernate specific properties -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<!-- <property name="format_sql">true</property> -->
		<!-- end hibernate specific properties -->
		
		<!-- mapping files entry -->
		<mapping resource="transaction.hbm.xml"/>
	</session-factory>

</hibernate-configuration>
